<h2><%= config.title %></h2>
<h3>原创：</h3>
<ul class="idx">
  <% page.posts.each(function(post){ %>
  <% var tags = {}; post.tags.each(function(t) { tags[t.name] = 1 }) %>
  <% if (!("zz" in tags) && !("fy" in tags)) { %>
  <li><a href="<%- config.root %><%- post.path%>"><%= post.title %></a></li>
  <% } %>
  <% }) %>
</ul>
<h3>翻译：</h3>
<ul class="idx">
  <% page.posts.each(function(post){ %>
  <% var tags = {}; post.tags.each(function(t) { tags[t.name] = 1 }) %>
  <% if ("fy" in tags) { %>
  <li><a href="<%- config.root %><%- post.path%>"><%= post.title %></a></li>
  <% } %>
  <% }) %>
</ul>
<h3>转载：</h3>
<ul class="idx">
  <% page.posts.each(function(post){ %>
  <% var tags = {}; post.tags.each(function(t) { tags[t.name] = 1 }) %>
  <% if ("zz" in tags) { %>
  <li><a href="<%- config.root %><%- post.path%>"><%= post.title %></a></li>
  <% } %>
  <% }) %>
</ul>

<p style="margin-top:40px;">微信公众号：eri2com。使用微信扫描以下二维码即可立刻关注。</p>
<img src="img/wx.jpg"/>
