<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
<% if (theme.rss){ %><link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml"><% } %>
<% if (theme.favicon){ %><link rel="icon" href="<%- theme.favicon %>"><% } %>
<% if (page.path && config.weibo_metaid){ %><meta property="wb:webmaster" content="<%= config.weibo_metaid %>" /><% } %>
<%- css('css/main') %>
<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<%- partial('google-analytics') %>
</head>
